# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
*.jar

*.egg
build/
dist/
nltk.egg-info/
web/_build

# Test artifacts and coverage reports
*.tox
*.errs
.noseids
.coverage
nltk/test/*.html
nltk/test/tweets*
model.crf.tagger
brown.embedding
pylintoutput
nosetests.xml
nosetests_scrubbed.xml
coverage.xml

# editor temporary files
*.*.sw[op]
.idea
*~

# git mergetools backups
*.orig

# emacs backups
*#

# spell-check backups
*.bak

# automatically built files for website
web/api/*.rst

# iPython notebooks

.ipynb_checkpoints

# pyenv files
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
