include LICENSE.txt INSTALL.txt README.txt MANIFEST.in
include distribute_setup.py
include nltk/nltk.jar
include nltk/test/*.doctest
recursive-include javasrc *.java *.txt Makefile
-global-exclude *~
