<link rel="stylesheet" href="_static/css/team.css">

{{#members}}
<div class="member-card">
    <div class="member-header">
        {{#personal_website_url}}
        <a href="{{personal_website_url}}">
            {{full_name}}
        </a>
        {{/personal_website_url}}
        {{^personal_website_url}}
        {{full_name}}
        {{/personal_website_url}}
        <a class="headerlink" href="#{{github_username}}" title="Permalink to {{full_name}}">¶</a>
        <a class="reference internal github-link" href="https://www.github.com/{{personal_website_url}}">
            @{{github_username}}
        </a>
    </div>

    <div class="member-body">
        {{#photo_path}}
        <div class="member-left-panel">
            <a class="reference internal" href="https://www.github.com/{{github_username}}">
                <img src="{{photo_path}}" alt="{{full_name}}" width="200" height="200">
            </a>
        </div>
        {{/photo_path}}

        <div class="member-right-panel">
            <dl>
                {{#location}}
                <dt>Location</dt>
                <dd>
                    <p>{{location}}</p>
                </dd>
                {{/location}}

                {{#role}}
                <dt>Role</dt>
                <dd>
                    <p>{{role}}</p>
                </dd>
                {{/role}}

                {{#active_range}}
                <dt>Active Range</dt>
                <dd>
                    <p>{{active_range}}</p>
                </dd>
                {{/active_range}}
            </dl>
        </div>
    </div>
</div>
{{/members}}
