
% start S

################
# Grammar Rules
################

S -> NP[case=nom,num=?n,pers=?p,gen=?g] VP[num=?n,pers=?p]
S -> VPTOP[num=?n,pers=?p] NP[case=nom,num=?n,pers=?p,gen=?g]

NP[case=?c,num=?n,pers=?p,gen=?g] -> PRO[case=?c,num=?n,pers=?p,gen=?g]
NP[case=?c,num=?n,pers=?p,gen=?g] -> Det[case=?c,num=?n,pers=?p,gen=?g] N[case=?c,num=?n,pers=?p,gen=?g]


VP[num=?n,pers=?p] -> IV[num=?n,pers=?p]
VP[num=?n,pers=?p] -> TV[num=?n,pers=?p,objcase=?oc] NP[case=?oc]
VPTOP[num=?n,pers=?p] -> NP[case=?oc] TV[num=?n,pers=?p,objcase=?oc]

###############
# Lexical Rules
###############

Det[case=nom,gen=masc,pers=3,num=sg] -> 'der' |'Der'
Det[case=acc,gen=masc,pers=3,num=sg] -> 'den'
Det[case=dat,gen=masc,pers=3,num=sg] -> 'dem'
Det[gen=masc,pers=3,num=pl] -> 'die' | 'Die'
Det[case=nom,gen=fem,pers=3,num=?n] -> 'die' | 'Die'
Det[case=acc,gen=fem,pers=3,num=?n] -> 'die' | 'Die'
Det[case=dat,gen=fem,pers=3,num=?n] -> 'der'


N[gen=masc,pers=3,num=sg] -> 'hund'
N[gen=masc,pers=3,num=pl] -> 'hunde'
N[gen=fem,pers=3,num=sg] -> 'katze'
N[gen=fem,pers=3,num=pl] -> 'katzen'

PRO[case=nom,pers=1,num=sg] -> 'ich'
PRO[case=acc,pers=1,num=sg] -> 'mich'

TV[objcase=acc,num=sg,pers=1] -> 'sehe'
TV[objcase=acc,num=sg,pers=3] -> 'sieht' | 'mag'
TV[objcase=dat,num=sg,pers=3] -> 'folgt' | 'hilft'
TV[objcase=dat,num=sg,pers=1] -> 'folge' | 'helfe'

IV[num=sg,pers=3] -> 'kommt'
IV[num=sg,pers=1] -> 'komme'