# English Config File
# Demo Version, Beracah Yankama
# For Bob Berwick, 6.863 Natural Language Processing

lexicon: spanish.lex
rules: spanish.rul
batch: spanish.batch_test

results: spanish.results
