# English Config File
# Demo Version, Beracah Yankama
# For Bob Berwick, 6.863 Natural Language Processing

lexicon: englishpyk.lex
rules: englishpyk.rul
batch: english.batch_test

results: english.results
