name: ci-workflow
# run workflow for these events
on: [push, pull_request, workflow_dispatch]

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0

  cache_nltk_data:
    name: Cache nltk_data
    needs: pre-commit
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache nltk data
        uses: actions/cache@v2
        id: restore-cache
        with:
          path: ~/nltk_data
          key: nltk_data_${{ secrets.CACHE_VERSION }}

      - name: Download nltk data packages on cache miss
        run: |
          pip install regex # dependencies needed to download nltk data
          python -c "import nltk; from pathlib import Path; path = Path('~/nltk_data').expanduser(); path.mkdir(exist_ok=True); nltk.download('all', download_dir=path)"
        shell: bash
        if: steps.restore-cache.outputs.cache-hit != 'true'

  cache_third_party:
    name: Cache third party downloads
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache third party downloads
        uses: actions/cache@v2
        id: restore-cache
        with:
          path: ~/third
          key: third_${{ secrets.CACHE_VERSION }}

      - name: Download third party data
        run: |
          chmod +x ./tools/github_actions/third-party.sh
          ./tools/github_actions/third-party.sh
        if: steps.restore-cache.outputs.cache-hit != 'true'

  test:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    needs: [cache_nltk_data, cache_third_party]
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: 16

      - name: Cache dependencies
        uses: actions/cache@v2
        id: restore-cache
        with:
          path: ${{ env.pythonLocation }}
          key: python-dependencies-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('requirements-ci.txt') }}-${{ env.pythonLocation }}

      - name: Install dependencies on cache miss
        run: pip install --upgrade --requirement requirements-ci.txt
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - name: Use cached nltk data
        uses: actions/cache@v2
        with:
          path: ~/nltk_data
          key: nltk_data_${{ secrets.CACHE_VERSION }}

      - name: Use cached third party data
        uses: actions/cache@v2
        with:
          path: ~/third
          key: third_${{ secrets.CACHE_VERSION }}
        if: runner.os == 'Linux'

      - name: Set up third party environment variables
        shell: bash
        run: |
          echo "CORENLP=~/third/stanford-corenlp" >> $GITHUB_ENV
          echo "CORENLP_MODELS=~/third/stanford-corenlp" >> $GITHUB_ENV
          echo "STANFORD_PARSER=~/third/stanford-parser" >> $GITHUB_ENV
          echo "STANFORD_MODELS=~/third/stanford-postagger" >> $GITHUB_ENV
          echo "STANFORD_POSTAGGER=~/third/stanford-postagger" >> $GITHUB_ENV
          echo "SENNA=~/third/senna" >> $GITHUB_ENV
        if: runner.os == 'Linux'

      - name: Run pytest
        run: |
          # ls ~/third
          # python -c "from nltk.parse.corenlp import CoreNLPServer; server = CoreNLPServer(port=9000, verbose=True); print(server)"
          pytest --numprocesses auto -rsx nltk/test
        shell: bash
